* {
    margin: 0;
    padding: 0;
}

.box {
    height: 100vh;
    background-color: rgb(202, 179, 223);
    padding: 50px 0px 0px 50px;
    animation-timing-function: linear;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: cyan;
    animation: runCircle 4s linear infinite;
}

@keyframes runCircle {
    
     0% {
          transform: translateY(0) translateX(0); 
          background-color: red; 
        }
        25% {
          transform: translateY(100px) translateX(0); 
          background-color: blue; 
        }
        50% {
          transform: translateY(100px) translateX(100px); 
          background-color: green; 
        }
        75% {
          transform: translateY(0) translateX(100px); 
          background-color: yellow; 
          
        }
        100% {
          transform: translateY(0) translateX(0); 
          background-color: red; 
        }

}